services:
  db:
    image: postgres:15
    container_name: petproject-postgres
    environment:
      POSTGRES_DB: petproject
      POSTGRES_USER: natanight
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

volumes:
  pgdata:
